/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


/* General style */

body {
    background-color: rgb(123, 19, 78);
    font-family: "Permanent Marker", sans-serif;
    font-size: 150%;
    font-style: normal;
    color: whitesmoke;
    position: relative;
}

/* Header */

h1 {
    color: whitesmoke;
    text-align: center;
    font-size: 130%;
}

/* Game area style */

.game-space {
    background-color: white;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    height: 65vh;
    max-height: 30em;
    max-width: 52em;
    margin-top: 1%;
    margin-bottom: 1em;
    text-align: center;
    padding: 1%;

}

.dice {
    text-align: center;
    display: inline-block;
    color: black;
    margin: 10%;
    font-size: 100%;

}

/* Buttons */

.interactive-space {
    text-align: center;

}

button {
    border-radius: 5px;
    font-family: "Permanent Marker", sans-serif, cursive;
    padding: 0.5em;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

#play-game {
    font-size: 1.5em;
    
}

.hide {
    display: none;
}

#endgame {
    position: absolute;
    top: 2em;
    left: 2em;
    z-index: 90;
    width: 80%;
    height: 300px;
    background-color: rgba(75, 14, 49, 0.8);
}

.score-area {
    text-align: center;
    font-size: 4em;
    display: flex;
    justify-content: space-around;
    margin-left: 0.5em;
}

/* Media queries */
@media (max-width: 375px) {
    .dice {
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: space-around;
    }

    .game-space {
        height: 36vh;
    }

    .score-area  {
        font-size: 3em;
        margin-left: 0.7em;
    }

    h1 {
        font-size: 165%;
    }

    #endgame {
        top: 3em;
        left: 1em;
        width: 87%;
        height: 273px;
    }
}

@media (max-width: 768px) {
    .dice {
        font-size: 224%;
    }

    h1 {
        font-size: 350%;
    }
    .score-area {
        margin-left: 2em;
    }
}
